<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Denise's Pottery Blog</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="../static/css/styles.css">
</head>
<body>
<div class="wrapper">
    <div class="top">
        <div class="title"><h1>{{blog_data.title}}</h1></div>
           </div>
        <div class="content">
            <div class="card">
                <h2>{{blog_data.subtitle}}</h2>
                <p>{{blog_data.body}}</p>
                {% set hyper = blog_data.hyperlink %}

                <center><a href={{ hyper }} >Click for Video</a></center><br><br><br><br>

                <center><a href="{{ url_for('home') }}">Return to main page</a></center>

            </div>
    </div>
</div>
</body>
<footer>
    <p>Made with ♥️ in Colorado.</p>
</footer>
</html>